.btn{
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-image: none;
    border: 1px solid white;
    cursor: pointer;
    padding: 8px 12px;
    font-weight: bold;
    border-radius: 4px;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}
.btn-lg{
    font-size: 1.313rem;
    padding: 12px 20px;
    border-radius: 12px;
}

.btn-primary {
    background: #8DC63F;
    color: white;
    border-color: #8DC63F;
}
.btn:hover {
    background: none;
    border-color: white;
    text-decoration: none;
}
.btn-secondary{
    background: rgba(10, 107, 211, 0.9);
    border-color: rgba(7, 82, 161, 0.9);
}
