.jumpUp{
    animation: jumpUp 1.4s ease-in;
}
.fallDown{
    animation: fallDown 2.2s linear, float 15s ease-in-out 2.2s infinite ;
}

.floatInBottom{
    animation: floatInBottom 0.9s ease-out forwards;
}

.floatInFromLeft{
    animation: floatInFromLeft 0.4s ease-out forwards;
}

.floatInFromRight{
    animation: floatInFromRight 0.4s ease-out forwards;
}

.delay05{
    animation-delay: 0.5s;
}

.delay1{
    animation-delay: 1s;
}


@keyframes jumpUp{
    from{
        top:70px;
        opacity: 0;
    }
    to{
        top: 0px;
        opacity: 1;
    }
}

@keyframes fallDown{
    0%{
        top: -1000px;
    }
    50%{
        top: 0px;
    }
    60%{
        top: -35px;
    }
    70%{
        top:0px;
    }
    80%{
        top: -18px;
    }
    90%{
        top: 0px;
    }
    95%{
        top: -10px;
    }
    100%{
        top: 0px;
        transform: translate(0, 0px) rotateY(-12deg) rotateZ(3deg);
    }
}

@keyframes float{
    from {
            transform: translate(0, 0px) rotateY(-12deg) rotateZ(3deg);
      }
      65% {
            transform: translate(0, 15px) rotateY(10deg) rotateX(10deg) rotateZ(-3deg);
      }
      to {
            transform: translate(0, 0px) rotateY(-12deg) rotateZ(3deg);
      }
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes jumpingArow{ 
    4%, 12%, 20%{
        transform: translateY(-8px) rotate(45deg);
    }
    8%, 16%, 24%{
        transform: translateY(-2px) rotate(45deg);
    }
}

@keyframes floatInBottom{
    from {
        opacity: 0;
        position: relative;
        top: 50px;
        visibility: hidden;
    }
    to{
        opacity: 1;
        position:relative;
        top: 0;
        visibility: visible;
    }
}

@keyframes floatInFromLeft{
    from {
        opacity: 0;
        position: relative;
        right: 100px;
        visibility: hidden;
    }
    to{
        opacity: 1;
        position:relative;
        right: 0;
        visibility: visible;
    }
}

@keyframes floatInFromRight{
    from {
        opacity: 0;
        position: relative;
        left: 100px;
        visibility: hidden;
    }
    to{
        opacity: 1;
        position:relative;
        left: 0;
        visibility: visible;
    }
}